<%-include('partials/header')%>


<div class="wrapper">
    <%- include('partials/sidebar') %>
    <div id="content">
        <%-include('partials/nav')%>
        <div class="bg-danger note">
            <p style="color: white;"><i class="fas fa-exclamation"></i> <span>NOTE</span> : Please check
                your size carefully cuz there is no back.</p>
            <p style="direction: rtl;color: white;"><i class="fas fa-exclamation"></i> <span>ملاحظة</span> :
                رجاءا تفحص الحجم جيدا لانه لا يمكن الترجيع.</p>
        </div>
        <div class="stage-2">
            yazan
        </div>
    </div>
</div>




<%-include('partials/footer')%>