<!-- The Modal -->
<div id="myModal" class="modal">

	<!-- Modal content -->
	<div class="modal-content">
		<div style="width: fit-content;"><span class="close">&times;</span></div>
		<div class="logo" style="padding: 20px;text-align: center;">
			<i class="far fa-user-circle fa-6x"></i>
		</div>
		<div style="text-align: center;">
			<h5>Log in</h5>
			<hr style="height: 1px;">
		</div>
		<div class="login-with text-center mt-4 pl-5 pr-5">
			<a href="/auth/facebook" class="btn btn-primary btn-block"><i class="fab fa-facebook-square"></i>
				Facebook</a>
			<a href="/auth/google" class="btn btn-danger btn-block"><i class="fab fa-google"></i> Google</a>
		</div>
	</div>

</div>