<div id="stage-4">
    <h3>Thank you for your order!</h3>
    <div class="some-thing mb-5" style="padding:0 100px;">
        <p>
            The wide ranging nature of items and practices to which the term creative can be sensibly applied also makes
            a straightforward definition difficult.
        </p>
    </div>
    <div class="options" style="text-align: center;">
        <a href="#stages" data-slide="next" style="width: 50%;" class="proceed-to-checkout btn btn-outline-dark">
            BACK TO CART
        </a>
    </div>
</div>