


<div id="stage-3">
    <h3>Payment details</h3>
    <div class="some-thing mb-5" style="padding:0 100px;">
        <p>
            The wide ranging nature of items and practices to which the term creative can be sensibly applied also makes
            a straightforward definition difficult.
        </p>
    </div>
    <div class="cashorcard" style="text-align: center;">
            <input type="radio" name="rad" id="cash" checked="checked" data-waschecked="true">
            <label for="cash">Cash on delivery</label>
            <input type="radio" name="rad" id="card">
            <label for="card">Use card</label>
        
    </div>
    <div class="cardInfo" style="text-align: center;">
        <input type="text" class="bg-light col-8" style="padding: 10px;border:none" name="Cardholder name" placeholder="Cardholder name">  
        <input id="ccn"  class="bg-light col-8 mt-3" style="padding: 10px;border:none" type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="Card number : xxxx xxxx xxxx xxxx">
        <div class="exp-date">
            <input type="number" style="width: 30px;height: 30px;">
        </div>  
    </div>
    <div class="options row">
        <div class="col-md-6 col-lg-6 col-sm-12">
            <a  href="#stages" data-slide="prev" class="back-to-cart btn btn-outline-dark">
                BACK TO DELIVERY
            </a>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">
            <a class="proceed-to-order btn btn-dark">
                ORDER
            </a>
        </div>
    </div>
</div>